*{
    background-color: black;
    width: auto;
}

/** features section **/
.features{
    padding: 50px 12%;
    font-size: 24px;
    border-top: 5px solid gray;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col{
    height:355px;
    width: 474px;
    overflow: hidden;
    object-fit: cover;
    color: white;
    flex-basis: 50%;
    margin-bottom: 20px;
    display: flex;
    background-image:initial;
    overflow: auto;
}

.watch{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.stream{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/**FAQ section **/

.part3{
    border-top: 5px solid gray;
    margin-bottom: 10px;
}

.FAQ{
    height: 600px;
    width: 1000px;
    margin-top: 10px;
    
    
}
/**Frequently asked question**/
.questions{
    width: 1000px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    display: block;
    margin-left: 30%;
    margin-right: 50%;
    padding-left: 100px;
}
.btn{
    height: 530px;
    width: 1000px;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
    
}
.button{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    height: 80px;
    width: 1200px;
    padding: 24px;
    background-color: rgb(49, 48, 48);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align:left;
    margin-right: 80%; 
    border: 4px solid black;
    border-radius: 2px;
    
}
.button:hover{
    background-color: rgb(61, 60, 60);
    
}
.add{
    background-color: rgb(49, 48, 48);  
    margin-bottom: 20px; 
}





/**login details**/
.membership{
    height: 30px;
    width: 1000px;
    margin-left: 25%;
    margin-right: 25%;
}

h3{
    height: 30px;
    width: 890px;
    margin-left: 0px;
    margin-right: 313px;
    margin-bottom: 10px;
    padding-left: 10px;
    color:white;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;

}
.details{
    width: 1100px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
input{
    height: 30px;
    width: 300px;
    padding:1.5rem 3rem 0.5rem 2rem; 
    background-color:rgb(49, 48, 48) ;
    border: 1.5px solid white;
    border-radius: 5px;
    margin-left:10%;
    line-height: 1.5px;
    

}
input:hover{
    background-color:rgb(69, 68, 68) ;
}
.custom-cursor {
    cursor: pointer;
    padding: 10px;
    line-height: 1.5px;
    border: 1px solid #ccc;
  }

 

.start{
    height: 45px;
    width: 203px;
    display: inline-block;
    justify-content: wrap;
      padding: 10px 20px;
      background-color: #ff0000; 
      color: #fff; 
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-left: 5px;
      margin-right: 60px;
    }

/**footer**/

.bor{
    border-top: 5px solid gray;
}
.footer{
    height: 270px;
    width: 1050px;
    color: white;
    padding: 48px 48px;
    margin:30px 105px;
    
}
.f-top{
    margin-top: 10%;
    height: 34px;
    width: 530px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 12px;
    color: #ffffffb3;

}
.container{
    display: flex;
    flex-wrap: wrap;
}
.f-rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
    list-style: none;
    padding: 0;
  }
  
  li {
    height: 30px;
    width: 231px;
    padding: 5px;
    
  }
  

a{
    color: #ffffffb3;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;

}
.language{
    height: 40px;
    width: 540px;
    margin:-8px 0px 0px -8px;
    color: #ffffffb3;
}
select{
    background-color: rgb(58, 57, 57);
    height: 32px;
    width: 122px;
    border: 1px solid white;
    border-radius: 2px;
    color: #ffffff;
}

option{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #ffffffb3;
    background-color: rgb(35, 34, 34);
    text-align: center;
    padding: 6px 36px;
}

.last{
    height: 42px;
    width: 532px;
    margin: 24px 0px 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffb3;
}